version: "3.9"

services:
  db:
    image: postgres:15
    container_name: postgres_fidodino
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: QuangHau@123
      POSTGRES_DB: fidodino
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data

  redis:
    image: redis:7
    container_name: redis_cache
    restart: always
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    command: redis-server --appendonly yes

volumes:
  db_data:
  redis_data:
